.env
.auth/
.playwright-mcp/
programs-page.yml
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/.playwright/

# Cypress
/cypress/downloads/
/cypress/screenshots/
/cypress/videos/
